body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  /* background: linear-gradient(to right,  #e6f2f5 0%,  #aaddf5 100%);  */
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}
.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background: linear-gradient(to right,  #e6f2f5 0%,  #aaddf5 100%); 
  }
.blue{
  color:#167bff;
}
  
.btn-sign {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb  0%, #5eddec 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-sign:hover,
.btn-sign:focus,
.btn-sign.focus,
.btn-sign:active,
.btn-sign.active {
  color: #fff;
  background-image: none;
  background-color: #3196dd;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a{
  text-decoration: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
  .inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 30px 55px;
    border-radius: 15px;
    margin-top: 95px;
    margin-bottom: 20px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  label{
    font-weight: 600;
  }
  
  p{
    font-size: medium;
  }

  .image-sign{
    display: flex;
    justify-content: center;
    align-items: center;
  }
